
body{
	margin: 0px; padding: 0px;
	background-image: url('hello.jpg');
}
*{
	margin: 0px; padding: 0px;
}

#container{
	width: 680px; height: 300px;
	border: 3px solid white;
	background: transparent;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%) rotate(-7deg);
	box-shadow: 3px 3px 8px 1px #00ca51, -3px -3px 8px 1px #00ca51, inset 3px 3px 8px 1px #00ca51, inset -3px -3px 8px 1px #00ca51;
	animation: neonbox 3s infinite alternate;
}
#hello{
	font-size: 300px;
	font-family: hello;
	text-align: center;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-47%, -44%);
	color: white;
	text-shadow: 5px 5px 7px #00ca51, -5px -5px 7px #00ca51;
	animation: neon 3s infinite alternate;
}

#line1{
	width: 680px; height: 3px;
	background-color: white;
	position: absolute; top: 35%;
	box-shadow: 3px 3px 10px 3.5px #00ca51, -3px -3px 10px 3.5px #00ca51;
	animation: neonline 3s infinite alternate;
}
#line2{
	width: 680px; height: 3px;
	background-color: white;
	position: absolute; top: 65%;
	box-shadow: 3px 3px 10px 3.5px #00ca51, -3px -3px 10px 3.5px #00ca51;
	animation: neonline 3s infinite alternate;
}






@keyframes neon{
	0%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	5%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	10%{ opacity: 1; text-shadow: 5px 5px 7px #00ca51, -5px -5px 7px #00ca51; }
	15%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	20%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	25%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	30%{ opacity: 1; text-shadow: 5px 5px 7px #00ca51, -5px -5px 7px #00ca51; }
	35%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	40%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	45%{ opacity: 1; text-shadow: 5px 5px 7px #00ca51, -5px -5px 7px #00ca51; }
	50%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	55%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	60%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	65%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	70%{ opacity: 1; text-shadow: 5px 5px 7px #00ca51, -5px -5px 7px #00ca51; }
	75%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	80%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	85%{ opacity: 1; text-shadow: 5px 5px 7px #00ca51, -5px -5px 7px #00ca51; }
	90%{ opacity: 0.7; text-shadow: 2px 2px 4px #00ca51, -2px -2px 4px #00ca51; }
	95%{ opacity: 1; text-shadow: 5px 5px 7px #00ca51, -5px -5px 7px #00ca51; }
	100%{ opacity: 1; text-shadow: 5px 5px 7px #00ca51, -5px -5px 7px #00ca51; }
}


@keyframes neonbox{
	0%{ opacity: 0.7;  box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	5%{ opacity: 0.7;  box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	10%{ opacity: 1;   box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	15%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	20%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	25%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	30%{ opacity: 1;   box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	35%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	40%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	45%{ opacity: 1;   box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	50%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	55%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	60%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	65%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	70%{ opacity: 1;   box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	75%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	80%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	85%{ opacity: 1;   box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	90%{ opacity: 0.7; box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	95%{ opacity: 1;   box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
	100%{ opacity: 1;  box-shadow: 2px 2px 5px 1px #00ca51, -2px -2px 5px 1px #00ca51, inset 2px 2px 5px 1px #00ca51, inset -2px -2px 5px 1px #00ca51; }
}


@keyframes neonline{
	0%{ opacity: 0.7;  box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	5%{ opacity: 0.7;  box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	10%{ opacity: 1;   box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	15%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	20%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	25%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	30%{ opacity: 1;   box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	35%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	40%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	45%{ opacity: 1;   box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	50%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	55%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	60%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	65%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	70%{ opacity: 1;   box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	75%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	80%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	85%{ opacity: 1;   box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	90%{ opacity: 0.7; box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	95%{ opacity: 1;   box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
	100%{ opacity: 1;  box-shadow: 2px 2px 7px 3.5px #00ca51, -2px -2px 7px 3.5px #00ca51; }
}







@font-face{
	font-family: hello;
	src: url('hello.ttf');
}